// // Features Import

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

//Modal Overrides
// $modal-backdrop-bg: transparent;
$modal-transition: transform .5s ease-out;
$modal-backdrop-opacity: 0.5;

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// Form Floading Overrides
$form-floating-height: add(3rem, $input-height-border);
$form-floating-input-padding-t: 2.5rem;
$form-floating-input-padding-b: 1.2rem;
$form-floating-padding-y: 0.7rem;

// 4. Include any default map overrides here

// Custom Variables 
@import "../scss/custom_variables.scss";

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/dropdown";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import "../vendors/bootstrap/scss/bootstrap.min.css";
@import "../scss/manual.scss";

// // -------------------------------------------------------



