{% load static %}
<nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">

  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <div class="navbar-brand-wrapper">
      <a class="navbar-brand brand-logo fw-bold text-white fs-3" href="{% url 'Dashboard' %}">
        <img width="50px" height="50px" src="{% static 'home/assets/memorial-logo.svg' %}" alt="logo">
      </a>
       <span class=""></span>
      <a class="navbar-brand brand-logo-mini" href="{% url 'Dashboard' %}"><img src="{% static 'home/assets/memorial-logo.svg' %}" alt="logo"></a>
    </div>
    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, {{request.user.first_name}}</h4>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        <h4 class="mb-0 font-weight-bold d-none d-xl-block"><div id="clock"></div></h4>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>

  <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{% url 'Home' %}" class="nav-link icon-link">
          <i class="mdi mdi-24px mdi-home text-black"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
          <img src="{% static 'dashboard/images/faces/face5.jpg' %}" alt="profile">
          <span class="nav-profile-name">{{request.user.first_name}} {{request.user.last_name}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <!-- <a class="dropdown-item">
            <i class="mdi mdi-settings text-primary"></i>
            Settings
          </a> -->
          <a href="{% url 'Logout' %}" class="dropdown-item">
              <i class="mdi mdi-logout text-memorial"></i>Logout
          </a>
        </div>
      </li>
    </ul>
  </div>

</nav>

