{% load static %}
<div class="modal fade" id="loginForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="#" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="body container">
                <div class="main row">
                    <div class="left col-12 col-sm-7">
                        <nav class="navbar bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="" data-bs-dismiss="modal">
                                    <img src="{% static 'home/assets/test.svg' %}" alt="" width="30" height="30"
                                        class="d-inline-block align-text-top">
                                    <span class="fs-6 lead">Surigao Memorial Park</span>
                                </a>
                            </div>
                        </nav>        
                        <div class="container-fluid me-0 pe-0">
                            <div class="login body ">
                                <div class="container">
                                    <div class="body-main row">
                                        <div class="body-left col-12">
                                            <div class="row ">
                                                <div class="col-12 my-4">
                                                    <h2 class="fw-light text-center">Welcome Back!</h2>
                                                </div>       
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="container">
                                                            <form method="POST" action="{% url 'Login' %}">
                                                                {% csrf_token %}
                                                                <div class="form-floating mb-3">
                                                                    {{ login_form.username }}
                                                                    <label for="username" class="form-lable">Username</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                     {{ login_form.password }}
                                                                     <label for="password" class="form-lable">Password</label>
                                                                </div>
                                                                <div class="g-recaptcha d-flex justify-content-center" data-sitekey="6Lc7XJIjAAAAAEBonCl5vUIDBXp02-NUPnClI8GB"></div>
                                                                <div class="d-flex justify-content-center my-5">
                                                                    <input type="submit" class="btn btn-success w-75" value="Login" aria-describedby="loginHelp">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right col-12 col-sm-5 login-background-bg d-flex flex-column justify-content-center">
                        <div class="row mb-4">
                            <div class="col-12 text-white">
                                <p class="fw-bold text-center display-5 mt-3 mt-sm-0">New Here?</p>
                                <p class="fw-light text-center fs-5">Sign up and discover what Surigao <br> Memorial Park Inc has to offer! </p>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-light" aria-describedby="loginHelp" data-bs-toggle="modal" data-bs-target="#registerForm">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
   var myModal = new bootstrap.Modal(document.getElementById('loginForm'), {})
   myModal.toggle()
</script> -->
