<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <h4 class="text-memorial fw-bold text-center">Rules and Regulations</h4>
          <hr class="text-memorial opacity-25">

          <div class="text-center">
            <p class="fst-italic fw-light">
              "Those charged with the maintenance and supervision of a cemetery may impose reasonable regulations for the
              benefit of all lot holders. A regulation is reasonable if it promotes safe and efficient administration,
              protects all of the lot holders by preserving their lots, and does so without serious interference in
              matters
              of personal or familial concern in the conduct of the funeral and the interment."
            </p>
            <p class="fst-italic fw-bold">
              "The owner of the lot does not have title to the land, but only the right to inter dead thereon."
            </p>
            <p class="fw-light">
              The Surigao Memorial Park is a community of lot users who have chosen to inter their
              dearly departed in the gardens of the park. For 30 years now, the peaceful atmosphere and orderliness of the
              park is due to its users and visitors faithfully following the park rules and regulations set by the Board
              of Directors and management.
            </p>
            <hr class="text-memorial opacity-50">
            <h5 class="text-memorial fw-light text-center">GENERAL RULES</h5>
          </div>

          <div class="small">
            <ol>
              <li>The Park is open Monday- Sunday 6:00 am - 6:00 pm for visitation.</li>
              <li>Guards are posted at the Main Gate and at different parts of the park.</li>
              <li>Children under the age of 12 are not to be on cemetery grounds unless accompanied by an adult.</li>
              <li>No agricultural animals shall be permitted in the cemeteries. Domestic pets are allowed in the cemeteries provided they are on a leash; stay on roads, walks and alleys and persons responsible for the pet clean up after the pet.</li>
              <li>Visitors, except while acting as a military or police escort, are prohibited from bringing firearms, explosives of any kind, or any offensive weapon such as bows and arrows, air rifles, or slingshots into the cemeteries. Discharging of any weapons except in military or police honors or the hurling of rocks or pellets is strictly prohibited. All hunting or harvesting within the park is prohibited.</li>
              <li>During burials, drivers of vehicles visiting other areas are reminded to proceed cautiously to respect the on-going service.</li>
              <li>No person shall be noisy or disorderly within the limits of the park, or otherwise conduct themselves as to desecrate the place or upon being requested by park authority, shall refuse or neglect to leave the premises, or discontinue the disturbance.</li>
              <li>Horses, recreational bicycles, motor driven dirt bikes and off road vehicles are prohibited in the cemeteries so is driving practice. Skate boards, roller blades, noisy scooters and any other such type of entertainment type of transportation are prohibited in the park.</li>
              <li>The disposal of trash, flowers, containers or any other debris is prohibited within or adjacent to the park.</li>
              <li>No alcoholic beverages to be consumed on park grounds.</li>
              <li>Persons are strictly prohibited from picking flowers, wild or cultivated, breaking or injuring any tree, shrub, or plant, or from writing upon, defacing, or injuring any memorial, fence, gate, or other structure within the grounds of the park. Gravestone vandalism is prohibited.​</li>
              <li>No vase or vassal shall be left with water inside so as to avoid the growth of mosquitoes.</li>
            </ol>
            <hr class="text-memorial opacity-50">
          </div>

          <div class="small">
            <h5 class="text-memorial fw-light">POLICY STATEMENT ON ENDOWMENT CARE</h5>
            <p class="fw-light">
              Included in every conveyance is a commitment for endowment care of the lot by the Surigao Memorial Park Inc. Thus a endowment care fund is set up to provide for the improvement, maintenance, management, control and operation of memorial lots developed by Surigao Memorial Park Inc.
            </p>
            <p class="fw-light">
              REASON FOR POLICY ON ENDOWMENT CARE
              <br>
              To establish the sources of funding for this fund, and the procedures to follow for utilization of the fund for expenditures.
            </p>
            <p class="fw-light">
              RESPONSIBILITIES ON ENDOWMENT CARE
              <br>
              SMPI Board will review and approve any revisions to this policy.SMPI Management will carry out the policy based on established procedures.
            </p>
            <p class="fw-light fst-italic">
              WHAT ARE ENDOWMENT CARE ACTIVITIES VS. FAMILY ACTIVITIES
            </p>

            <p class="fw-light fst-italic">
              ENDOWMENT CARE ACTIVITIES
              <br>
              Mowing, watering and lawn care
              <br>
              Upkeep of roads, paths and signage
              <br>
              Cleanliness and garbage collection
              <br>
              Repair of damaged public areas by erosion, typhoon, earthquake, vandalism, etc.
              <br>
              General security
              <br>
              Repair of damage to private property if SMPI fault.
              <br>
              Power and lighting at night at general areas
              <br>
              Annual Memorial day “UNDAS” preparation and activities
            </p>

            <p class="fw-light fst-italic">
              FAMILY ACTIVITIES
              <br>
              Responsible for the headstone marker and for keeping the gravesite clean and neat.
              <br>
              Brightening up the lot (or niche, crypt, and mausoleum) with paint every so often. Note that SMPI has the right to remove plants or flowers when wilted, or if they are an impediment to their maintenance routine.
            </p>
          </div>

          <div class="small">
            <h5 class="text-memorial fw-light">CEMETERY INTERMENT IS AN EXCLUSIVE SERVICE OF SMPI</h5>
            <p class="fw-light fst-italic">
              The Interment is our exclusive service relating to the final disposition of the deceased, in accordance
              with standards of general care and operations of the cemetery. The interment fee includes the use of the
              cemetery’s professional staff, facilities and equipment, to respond to and complete the request for
              interment / entombment / or inurnment service, as well as maintaining the cemetery. It includes verifying
              ownership and right of burial privileges and confirming the permanent interment location. It also includes
              coordination between cemetery and administration and grounds with the funeral director and/or family
              members requesting and authorizing the burial service, preparation of the space for burial, and
              restoration of that space following the service. It includes the cement crypt vault, and a memorial
              marker.
            </p>
          </div>

          <div class="small">
            <h5 class="text-memorial fw-light">BUILDING REGULATIONS FOR LAWN AND GARDEN LOTS</h5>
            <p class="fw-light fst-italic">
              Lawn and garden lots are located in general areas of the park where underground crypts are marked by flat
              markers not any higher than park grounds. Such markers are to be of uniform size, and may contain
              information such as name, date of birth, and date of passing of the deceased.
            </p>
          </div>

          <div class="small">
            <h5 class="text-memorial fw-light">BUILDING RULES AND REGULATIONS FOR FAMILY ESTATE</h5>
            <p class="fw-light fst-italic">
              Surigao Memorial Park, for practical purposes, serves as a place for burying the human remains. However,
              it is also place where memories of loved ones who have passed away are enshrined.Thus, it is valued by the
              people of Surigao City, because, as we in SMPI say, “Memories are forever.” It should also be perceived as
              a community asset because it is entrusted with honoring the past, and it provides an open space as well as
              a panoramic vista of the sea and the hills surrounding it. Thus, we, the living Surigaonons and our
              visitors have a place to revisit our past and also enjoy the breathtaking view of the green hills and blue
              seas surrounding our cemetery park, a place we all can be proud of.
            </p>
          </div>

          <div class="small fw-light fst-italic">
            <h5 class="text-memorial fw-light">GLOSSARY</h5>
            <span class="text-decoration-underline">casket</span> A rigid container for the interment of human remains. May be made of wood or metal.
            <br>
            <span class="text-decoration-underline">crypt</span> A concrete enclosure for entombment.
            <br>
            <span class="text-decoration-underline">entombment</span> The act of placing human remains in a crypt.
            <br>
            <span class="text-decoration-underline">interment</span> Final disposition of human remains or bones by burial in the ground, entombment in a mausoleum, or placement of cremated remains in a niche (inurnment).
            <br>
            <span class="text-decoration-underline">inurnment</span> The act of putting cremated remains in an urn and placing the urn in a niche.
            <br>
            <span class="text-decoration-underline">mausoleum</span> A building that houses crypts for interment.
            <br>
            <span class="text-decoration-underline">memorial</span> The physical identification of an interment space with the name, date of birth, and date of death of the deceased, that could be in the form of bronze,granite, or marble, otherwise named memorial table, or marker
            <br>
            <span class="text-decoration-underline">monument</span> An upright memorial, including what used to be called a tombstone, usually with marble or granite overlay.
            <br>
            <span class="text-decoration-underline">niche</span> A space within a mausoleum used or intended to be used for inurnment ofcremated remains.
            <br>
            <span class="text-decoration-underline">sarcophagus</span> A structure of granite or marble or stone, covered with granite marble orstone for entombment of one or more casketed human remains. May be in a mausoleum.
            <br>
            <span class="text-decoration-underline">urn</span> A receptacle for cremated remains.
            <br>
            <span class="text-decoration-underline">vault</span> A concrete outer burial container which designed for placement in the grave space around the casket.
          </div>

          <div class="small">
            <h5 class="text-memorial fw-light">Rule I. STRUCTURAL PLANS AND DRAWINGS</h5>
            <p class="fw-light fst-italic">
              There must be a building permit in accordance with National Building Code of the Philippines (Republic Act
              No. 6541) duly issued by the building official of Surigao City, prior to the construction and/or
              alteration or modification, or renovation of any structure such as a mausoleum, a memorial, or a
              sarcophagus, on a family estate.Drawings of plans and specifications of the intended structure which
              include, but not limited to, design, location, siting, foundation, flooring, walls, windows, doors,
              ceiling, roofing, plan, and electrical layout must be submitted to the Management of SMPI for approval
              before construction and/or alteration or modification or renovation may begin.Drawings of plans and
              specifications of the said mausoleum or and/or alteration or modification or renovation to be submitted to
              the Management of SMPI must be prepared, signed and sealed, by a duly licensed engineer or architect.The
              scale of all drawings must be 1:30.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule II. STRUCTURES, EASEMENTS (SETBACKS), OVERHANGS</h5>
            <p class="fw-light fst-italic">
              All structures must be designed to be permanent and made of strong materials.Structures must not exceed
              three and a half (3.5) meters high, measured from the ground level, as established by the SMPI park
              management, to the highest point/apex of the structure; floor elevations of mausoleums, memorials, or
              sarcophagi must not exceed .33 meters from the ground level, as established by the SMPI park management.
              Structures may be built on family estates only. To be able to locate the site on which to build an
              intended structure, a family estate owner may request a copy of the location plan showing where her/his
              family estate is exactly located.Structure/s built on the restricted areas shall be considered a violation
              of these Rules and Regulations, and the builder thereof shall be ordered in writing by SMPI to remove the
              same within thirty (30) days from the receipt of notice of removal; otherwise, SMPI shall cause the
              structure/s to be removed at the cost of the builder.Every family estate owner has the obligation to
              observe an easement (set back) of .33 meters on all sides (north, east, south and west) inside her/his
              family estate. No roof overhang or other structural overhang beyond the boundary of her/his family estate
              shall be allowed. A mausoleum can be a ground floor building only; no upper floors or mezzanines are
              permitted. Bathrooms, bathtubs, toilets, washing basins or the like shall not be allowed to be constructed
              on the family estate; neither can a septic be allowed to be built inside a family estate.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule III.SCULPTURES, BENCHES, PLANTING BOXES, FILLINGS, FLOOR LEVELS and LANDSCAPING</h5>
            <p class="fw-light fst-italic">
              Mausoleums should not have any sculptures, benches, and planting boxes of any kind, or similar structures
              outside its premises.Planting of hedges and other kinds of plants along the lot boundaries are strictly
              prohibited. Flowers and other forms of garden arrangements are allowed only inside the mausoleum. Thus,
              having them outside is strictly prohibited.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule IV.FOUNDATIONS, FOOTING</h5>
            <p class="fw-light fst-italic">
              Foundations of mausoleums must be shown in the drawing/s submitted to the SMPI office prior to the
              construction of the structure. No alteration of the submitted foundation shall be done prior to the
              construction and after the submission of the same. If any alteration is made on the submitted drawing, the
              same requires an approval from the SMPI management.The footings of the structure/mausoleum must be clearly
              indicated in the drawing/s, and that the same shall not extend beyond the boundaries of the family estate
              on which said structure is to be built; easements should be followed.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule V. ENTRANCES, FENCES, STEPS</h5>
            <p class="fw-light fst-italic">
              Family estate lot owners are not allowed to build entrance gates, nor fence the family estate lot, of any
              form and kind of materials.Steps and ramps are similarly not allowed beyond the ‘buildable area’. Steps
              and ramps may be built to provide access to the structure/mausoleum but the same is limited only at the
              front view of the structure, which said front view is determined by that portion facing the road or
              walkway as provided for in the location map of SMPI. The step/s or ramp structure built at the front view
              of the building should not be more than 1.00 meter long, starting from the mausoleum door to the walkway
              or road, if any.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule VI. SARCOPHAGI</h5>
            <p class="fw-light fst-italic">
              An eight (8) lot family estate cannot have more than two (2) sarcophagi.Sarcophagi built in a mausoleum
              should be above the floor, and the same should appear in the drawings submitted to SMPI management.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule VII. DRAINAGE</h5>
            <p class="fw-light fst-italic">
              Lot owners need not make any drainage system. SMPI will provide the same in accordance with the Park
              plan/lay out.Mausoleum owners are required to provide a downspout on their structure, and the water on it
              should be directed/channeled to flow to the established drainage system of the park.
            </p>
          </div>          
          <div class="small">
            <h5 class="text-memorial fw-light">Rule VIII. PARKING AREAS</h5>
            <p class="fw-light fst-italic">
              Parking in lawn lots, garden lots and family estate is absolutely prohibited. When parking along the park
              roads, only right lane parking is allowed; under no circumstance is parking simultaneously on both sides
              (right lane and left lane) shall be allowed.No portion of a family estate can be converted to a parking
              area or storage area.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule IX. ELECTRICAL INSTALLATIONS</h5>
            <p class="fw-light fst-italic">
              A service line connection is granted to one who secures an electric metering device.Only SMPI personnel
              are allowed to tap or make electrical connections to the main line/post.A lot/mausoleum owner is allowed a
              tripping capacity of the main switch on its structure at a maximum of 30 amperes, and an electric load of
              800 watts.SMPI is not responsible for the electrical costs/consumption during and after the construction
              of the structure/mausoleum. The same shall be at the expense of the owner.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule X. CONSTRUCTION REQUIREMENTS</h5>
            <p class="fw-light fst-italic">
              During the construction of any structure/s, building a storage facility is not allowed within the park.
              Materials needed and necessary for the construction may be temporarily stored within the family estate
              where the construction is ongoing.At the completion of the construction, excess excavated materials should
              be removed from the park premises immediately.SMPI requires that clearing and cleaning of the premises
              near the construction should be undertaken immediately after completion of the construction, at the
              expense of the contractor and/or mausoleum owner.Damages that may accrue, whether, directly or indirectly
              caused by the construction shall be fixed after the completion of the structure. Lawn, walkways, gutters,
              plants, and others existing at the premises where the construction was made shall be returned to their
              original appearance as they were prior to the construction. The cost for fixing and repair shall be
              charged to the mausoleum owner.Construction workers and/or laborers are not allowed to stay within the
              Park premises after working hours. SMPI allows only one personnel to watch over the construction materials
              during nighttime while the construction is ongoing.The construction of the mausoleum is required to finish
              after three (3) months, said period is reckoned from the date of the issuance of the building permit. Any
              extension work beyond the three- month period shall be subject for prior approval by the SMPI.Delivery
              trucks and light vehicles not exceeding five (5) tons are allowed to bring the necessary construction
              materials to the site and are limited only to access until the edge of the park’s road. No vehicle should
              go beyond the paved road or other garden and lawn areas.Contractors and construction workers are mandated
              to perform the mixing of concrete aggregate within the lot of the mausoleum intended to be built. Doing
              such construction work on other family estate lots not belonging to the mausoleum owner is restricted.
            </p>
          </div>
          <div class="small">
            <h5 class="text-memorial fw-light">Rule XI. EFFECTIVITY</h5>
            <p class="fw-light fst-italic">
              These Rules and Regulations shall take effect on October 13, 2015, immediately when the same was approved
              by Board of Directors of SMPI. SMPI however, reserves the right to revise or amend these Rules and
              Regulations as the need arise to for the purpose of complying with new laws and regulations of the
              Philippine Government, and to keep of abreast with new concepts and ideas pertaining to cemetery park
              management, and to protect the cemetery park from environmental hazards due to climate change. The General
              Manager is hereby directed to serve a copy of this amended Rules and Regulations to each and every family
              estate owners and prospective family estate owners.
            </p>
          </div>

          <!-- -------------------------------- Form --------------------------------- -->
          <hr class="opacity-50">
          <!-- <form method="POST" action="" enctype="multipart/form-data"> -->

          <div class="justify-content-center"> 
            <div class="d-flex flex-column justify-content-center">
              <div class="p-2 fw-bold ms-auto me-auto">Accept Rules and Regulations<span class="text-danger">*</span></div>
              <div class="p-2 ms-auto me-auto">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                  <label class="form-check-label" for="flexCheckDefault">I agree with the aformentioned rules and regulations.</label>
                </div>
              </div>
              <div class="p-2 me-auto ms-auto">
                <input type="submit" class="btn btn-success" value="Submit">
              </div>
            </div>
          </div>
        <!-- </form> -->
        <!-- ---------------------------------- x ---------------------------------- -->

        </div>
      </div>

    </div>
  </div>
</div>