{% load widget_tweaks %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title">Add New User</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        
        <div class="form-floating mb-3">
            {{ form.first_name }}
            <label class="" for="">Full Name</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.username }}
            <label class="" for="">Username</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.password1 }}
            <label class="" for="">Password</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.password2 }}
            <label class="" for="">Confirm Password</label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
