<form method="post" action="">
    {% csrf_token %}
  
    <div class="modal-header">
      <h3 class="modal-title">Delete Location ID: {{data.id}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
  
    <div class="modal-body">
      <p class="fs-6">Are you sure you want to delete location <strong>{{ data.grave_area }}</strong>?</p>
    </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-danger">Delete</button>
    </div>
  
  </form>